<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TemplateView</title>
</head>
<body>
    <h1> Hola desde Django</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum autem nesciunt provident corporis quam. Eveniet fuga illum non explicabo ipsa illo, consectetur molestias iusto vero, aperiam architecto omnis voluptatum asperiores ipsum cum laborum cupiditate, a ut. Quas numquam in, nemo similique, dolorem quam tempore id quae illum eos cupiditate atque?</p>
</body>
</html>